<h1> Add a Movie! </h1>
<hr>
<form method="POST" action="">
  <input type="text" name="title"> by <input type="text" name="director">  ( <input type="number" name="year"> )
  <input type="submit" value="Add">
</form>
