<h1 text-align="center"> Movies! </h1>
<hr>
<form method="GET" action="">
  Director: <input type="text" name="director">
  <input type="submit" value="Filter">
</form>

<table border="1" style="width:100%">
  {{#each movies}}
    <tr>
      <td> {{title}} </td>
      <td> {{director}}</td>
      <td> {{year}}</td>
    </tr>
  {{/each}}
</table>
<hr>
<a href="movies/add"> Add a Movie! </a>
